@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;600&family=IBM+Plex+Mono:wght@400;600&display=swap');

:root {
  font-family: 'IBM Plex Sans', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #e6edf0;
  background-color: #0b1114;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #0b1114;
}

button,
input,
select {
  font-family: inherit;
}

#root {
  min-height: 100vh;
}
